.zion{
	font-size: 20px;
	color:white;
	}
	.menu2{
		position: relative;
		text-align: center;
	}
	.connecter{
		font-size: 20px;
		color: white;
		font-weight: bold;
	}
	.connecter:hover{
		cursor:pointer;
	}
	.connection{
		color: white;
		right:0;
	}
.navbar{
	position:relative;
	padding-top: 10px;
}
.row1{
	position: relative;
	display: block!important;
	margin: 0 auto !important; 
	color:white;
	text-align: center;
}
.row1 .menu{
	position: relative;
	display: inline-block;
	width:200px; 
	height:200px;
	margin:15px;
	background: #DD2880;
	transition: 0.3s;
	border-radius: 10px;
	text-align:center;
}
.row1 h3{
	font-size: 18px !important;
	margin-top: 10px;
}
.icone{
	margin-top: 50px;
	font-size: 50px !important;
	
}
.menu:hover{
	transform: scale(1.1);
	box-shadow: 5px 5px 5px 5px silver;
	background: white;
	color:#DD2880;
	cursor: pointer;
}
.menu:hover .icone{
	
	color:#DD2880 !important;;
}
.menu h3{

	font-size: 15px;
	transition: 1s;
}
.menu h3:hover{

	transform: scale(1.2);
	cursor: pointer;
}
.register{
	position:absolute;
	top:700px;
	right: 0px;
	width: 100%;
	height:1000px;
	background:rgba(0,0,0,0.8);
	z-index: 2;
    display: none;
    transition:1s;

}
.register h3{
 text-align: center;
 font-size: 30px;
}
.inscription{
    position: relative;
	width:800px;
    margin:0 auto;
    padding:20px;
    font-family:'Open Sans',sans-serif; 
    background:rgba(254,254,254,0.8);
    font-size: 15px;
    display: none;
    color: rgb(0, 2, 3);

}
.register .inscription input{
	 display: block;
     width:100%;
     height:20px ;
     margin: 5px auto;
     text-decoration: none;
     font-size: 18px;
     color: rgba(3, 0, 0, 0.8);
     background: rgba(202, 59, 59, 0);
     border: rgba(202, 59, 59, 0);
     border-bottom: 2px solid rgba(253, 253, 253, 0.8);
     transition: 0.5s;
}
.register .inscription .sex{
	display: inline-block;
     width:10%;
     height:20px ;
     margin: 5px auto;
     text-decoration: none;
     font-size: 18px;
     color: rgba(3, 0, 0, 0.8);
     background: rgba(202, 59, 59, 0);
     border: rgba(202, 59, 59, 0);
     border-bottom: 2px solid rgba(253, 253, 253, 0.8);
     transition: 0.5s;
}

.anniversaire{
	display: inline-block;
}
#birthday{
	display: inline-block;
     width:40%;
     height:20px ;
    /* margin: 5px auto;*/
     text-decoration: none;
     font-size: 18px;
     color: rgba(3, 0, 0, 0.8);
     background: rgba(202, 59, 59, 0);
     border: rgba(202, 59, 59, 0);
     border-bottom: 2px solid rgba(253, 253, 253, 0.8);
     transition: 0.5s;
}
#birthday1{
     width:5%;
     height:20px ;
     margin: 5px auto;
     text-decoration: none;
     font-size: 18px;
     color: rgba(3, 0, 0, 0.8);
     background: rgba(202, 59, 59, 0);
     border: rgba(202, 59, 59, 0);
     border-bottom: 2px solid rgba(253, 253, 253, 0.8);
     transition: 0.5s;
}
.register .inscription label{
	color:black;
	font-size: 15px;
	font-weight: bold;
}
.register .inscription input:focus{
	border-bottom: 2px solid rgb(231, 31, 31);
}
.fermer{
	margin-top: 10px;
	margin-right:120px;
	left:0;
}
.hiditra{
	margin-top: 10px;
	right:0;
}
@media only screen and (max-width: 600px) {
	.register{
	position:absolute;
	top:0;
	right: 0px;
	width: 100%;
	height:1600px;
	background:rgba(0,0,0,0.8);
	z-index: 2;
    display: none;

}
.inscription{
    position: relative;
	width:200px;
    margin:0 auto;
    padding:10px;
    font-family:'Open Sans',sans-serif; 
    background:rgba(254,254,254,0.8);
    font-size: 10px;
    color: rgb(0, 2, 3);

}
.register .inscription input{
	 display: block;
     width:100%;
     height:10px ;
     margin: 5px auto;
     text-decoration: none;
     font-size: 12px;
     color: rgba(3, 0, 0, 0.8);
     background: rgba(202, 59, 59, 0);
     border: rgba(202, 59, 59, 0);
     border-bottom: 2px solid rgba(253, 253, 253, 0.8);
     transition: 0.5s;
}
.register h3{
 text-align: center;
 font-size: 15px;
}
.register .inscription label{
	color:black;
	font-size: 10px;
	font-weight: bold;
}
.register .inscription input:focus{
	border-bottom: 2px solid rgb(231, 31, 31);
}
.fermer{
	margin-top: 10px;
	margin-right:80px;
	
}
.hiditra{
	margin-top: 10px;
}
}
/*.menuconect{
	position: absolute;
	height: 10px;
	right: 0;
	z-index: 2;
	transition:1s;
	display:none;
}*/
.user select{
	background: linear-gradient(40deg,#c700fa,#eb2af3,#d793c7);
	border: none;
}
