
.formulaire{
    position :relative;
    margin:auto;
}
.residence{
    position :relative;
    margin:auto;
}
#google-map{
	position:absolute;
	top:0;
}
.connection.user.imaguser{
	 width:"50px";
    height:"50px";
    border-radius:"50%";
}