.deconnect{
	position:absolute;
	top:0;
	right: 0px;
	width: 100%;
	height:700px;
	background:rgba(0,0,0,0.8);
	z-index: 2;
    display: none;

}
.deconnect h3{
 text-align: center;
 font-size: 30px;
}
.inscription4{
    position: relative;
	width:400px;
    margin:0 auto;
    padding:20px;
    font-family:'Open Sans',sans-serif; 
    background:rgba(254,254,254,0.8);
    font-size: 15px;
    color: rgb(0, 2, 3);

}

.fermer{
	margin-top: 10px;
	margin-right:120px;
	left:0;
}
.hiditra{
	margin-top: 10px;
	right:0;
}
@media only screen and (max-width: 600px) {
	.deconnect{
	position:absolute;
	top:0;
	right: 0px;
	width: 100%;
	height:1600px;
	background:rgba(0,0,0,0.8);
	z-index: 2;
    display: none;

}
.inscription4{
    position: relative;
	width:200px;
    margin:0 auto;
    padding:10px;
    font-family:'Open Sans',sans-serif; 
    background:rgba(254,254,254,0.8);
    font-size: 10px;
    color: rgb(0, 2, 3);

}

.deconnect h3{
 text-align: center;
 font-size: 15px;
}

.fermer{
	margin-top: 10px;
	margin-right:80px;
	
}
.hiditra{
	margin-top: 10px;
}
}